@model IEnumerable<eWellmanShoppingApp.Models.CodeFirst.Item>

@{
	ViewBag.Title = "Store";
}	
<head>
	<meta charset="utf-8" />
	
</head>
<body>
	@foreach(var item in Model) {
	<div class="col-xs-6 col-md-4 col-lg-3 vCenter itemHack">
		<h3>@item.name</h3>
		<a href="@Url.Action("Details", "Items", new { id=item.id })"><img class="img-responsive" src="@item.mediaURL" /></a>
		<h5>$@item.price</h5>
		@using (Html.BeginForm("Create", "CartItems", new { idIn = item.id }, FormMethod.Post)){
		@Html.AntiForgeryToken()
		<input type="submit" class="btn btn-danger butOutline" value="Purchase"/>
		}
	</div>
	}
</body>

